// scss/_variables.scss

$primary-color: #2DAA9E; // verde medio
$secondary-color: #66D2CE; // verde claro
$dark-text-color: #222222; // gris oscuro para el texto principal
$light-bg-color: #EAEAEA; // Gris claro de fondo
$beige-bg-color: #E3D2C3; // Beige claro para el fondo
$white-color: #ffffff; // Blanco